.header {
  height: 60px;
  display: flex;
  background-color: #131921;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 4px;
  background-color: #cd9042;
  height: 22px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
